<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        test
    {% endblock %}</title>
    {% block head %}

    {% endblock %}
</head>
<body>
{% block content %}
test content
{% endblock %}
{% block scripts %}

{% endblock %}
</body>
</html>